<section>
    <!-- header content -->
    <div class="header-top">
        <span class="icon-sun"></span>
    </div>
    <div class="content-game">
        <table class="table">
            <tbody>
                <!-- row 1 -->
                <tr>
                    <td class="col-xs-3">
                        <div class="item">
                            <!-- item level -->
                            <a href="javascript:;" class="img-item" data-ng-class="{'three':level==3,'for':level==4}">
                                <img data-ng-show="value==6" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==15" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==27" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==41" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==23" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==33" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==51" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==85" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==90" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==76" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==84" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==100" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                            </a>
                            <br>
                            <span class="hole"></span><br>
                            <p class="name">Mobility</p>
                        </div>
                    </td>
                    <td class="col-xs-3">
                        <div class="item">
                            <!-- item level -->
                            <a href="javascript:;" class="img-item" data-ng-class="{'three':level==3,'for':level==4}">
                                <img data-ng-show="value==3" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==19" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==35" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==39" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==36" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==44" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==62" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==89" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==80" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==61" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==70" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                            </a>
                            <br>
                            <span class="hole"></span><br>
                            <p class="name">Reporting</p>
                        </div>
                    </td>
                    <td class="col-xs-3">
                        <div class="item">
                            <!-- item level -->
                            <a href="javascript:;" class="img-item" data-ng-class="{'three':level==3,'for':level==4}">
                                <img data-ng-show="value==4" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==11" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==22" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==48" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==26" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==73" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==63" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==71" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==77" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==78" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==98" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                            </a>
                            <br>
                            <span class="hole"></span><br>
                            <p class="name">Time</p>
                        </div>
                    </td>
                    <td class="col-xs-2" rowspan="3">
                        <div data-progressbar="value"></div>
                    </td>
                </tr>
                <!-- row 2 -->
                <tr>
                    <td class="col-xs-3">
                        <div class="item">
                            <!-- item level -->
                            <a href="javascript:;" class="img-item" data-ng-class="{'three':level==3,'for':level==4}">
                                <img data-ng-show="value==8" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==12" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==38" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==50" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==28" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==40" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==86" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==82" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==56" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==81" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==92" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                            </a>
                            <br>
                            <span class="hole"></span><br>
                            <p class="name">Compensation</p>
                        </div>
                    </td>
                    <td class="col-xs-3">
                        <div class="item">
                            <!-- item level -->
                            <a href="javascript:;" class="img-item" data-ng-class="{'three':level==3,'for':level==4}">
                                <img data-ng-show="value==2" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==17" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==20" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==25" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==45" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==42" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==52" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==54" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==66" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==75" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==97" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                            </a>
                            <br>
                            <span class="hole"></span><br>
                            <p class="name">Absences</p>
                        </div>
                    </td>
                    <td class="col-xs-3">
                        <div class="item">
                            <!-- item level -->
                            <a href="javascript:;" class="img-item" data-ng-class="{'three':level==3,'for':level==4}">
                                <img data-ng-show="value==1" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==10" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==13" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==29" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==47" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==34" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==64" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==69" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==83" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==65" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==93" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                            </a>
                            <br>
                            <span class="hole"></span><br>
                            <p class="name">Recruiting</p>
                        </div>
                    </td>
                </tr>
                <!-- row 3 -->
                <tr>
                    <td class="col-xs-3">
                        <div class="item">
                            <!-- item level -->
                            <a href="javascript:;" class="img-item" data-ng-class="{'three':level==3,'for':level==4}">
                                <img data-ng-show="value==9" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==14" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==43" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==24" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==46" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==79" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==55" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==59" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==88" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==96" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                            </a>
                            <br>
                            <span class="hole"></span><br>
                            <p class="name">Benefits</p>
                        </div>
                    </td>
                    <td class="col-xs-3">
                        <div class="item">
                            <!-- item level -->
                            <a href="javascript:;" class="img-item" data-ng-class="{'three':level==3,'for':level==4}">
                                <img data-ng-show="value==7" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==16" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==30" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==31" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==21" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==72" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==68" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==67" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==91" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==94" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                            </a>
                            <br>
                            <span class="hole"></span><br>
                            <p class="name">Employee Data!</p>
                        </div>
                    </td>
                    <td class="col-xs-3">
                        <div class="item">
                            <!-- item level -->
                            <a href="javascript:;" class="img-item" data-ng-class="{'three':level==3,'for':level==4}">
                                <img data-ng-show="value==5" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==18" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==32" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==37" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==49" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==53" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==74" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==60" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==87" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==95" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                                <img data-ng-show="value==99" src="#" data-ng-src="i/Face{{level}}_dust.png" alt="images thumb" data-ng-click="count()">
                            </a>
                            <br>
                            <span class="hole"></span><br>
                            <p class="name">Payroll</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- list button -->
        <div class="list-btn">
            <a href="javascript:;" class="btn-help" data-ng-click="help=!help"></a>
            <a href="javascript:;" class="btn-play" data-ng-hide="begin" data-ng-click="countUp()"></a>
            <a href="javascript:;" class="btn-play active" data-ng-show="begin" data-ng-click="stop()"></a>
            <a href="javascript:;" class="btn-stop" data-ng-show="value==0"></a>
            <a href="javascript:;" class="btn-stop active" data-ng-show="value>0" data-ng-click="end()"></a>
        </div>
    </div>
</section>
<!-- popup point -->
<div class="pp-wrapper" data-ng-show="value>100" data-ng-click="end()">
    <div class="pp-content" data-center-screen>
        <table class="table-pp">
            <thead>
                <tr>
                    <th colspan="2" class="two-width"><p>High Scores</p></th>
                    <th><a href="javascript:;" data-ng-hide="more" data-ng-click="more=!more; $event.stopPropagation()">See All</a><a href="javascript:;" data-ng-show="more" data-ng-click="more=!more; $event.stopPropagation()">High to low</a></th>
                </tr>
            </thead>
            <tbody class="scroll-ct" data-ng-class="{'show':more}">
                <tr>
                    <td><p>1st Place</p></td>
                    <td><p>Cheryl Letke</p></td>
                    <td><p>{{countItem*10}} pts</p></td>
                </tr>
                <tr>
                    <td><p>2st Place</p></td>
                    <td><p>Michael Copeland</p></td>
                    <td><p>{{countItem*10-40}} pts</p></td>
                </tr>
                <tr>
                    <td><p>3st Place</p></td>
                    <td><p>Shilo Ebolo</p></td>
                    <td><p>{{countItem*10-80}} pts</p></td>
                </tr>
                <tr>
                    <td><p>4st Place</p></td>
                    <td><p>Cheryl Letke111</p></td>
                    <td><p>{{countItem*10-120}} pts</p></td>
                </tr>
                <tr>
                    <td><p>5st Place</p></td>
                    <td><p>Michael Copeland222</p></td>
                    <td><p>{{countItem*10-130}} pts</p></td>
                </tr>
                <tr>
                    <td><p>6st Place</p></td>
                    <td><p>Shilo Ebolo333</p></td>
                    <td><p>{{countItem*10-140}} pts</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- popup help -->
<div class="pp-wrapper" data-ng-show="help" data-ng-click="help=false">
    <div class="pp-content" data-center-screen>
        <table class="table-pp">
            <thead>
                <tr>
                    <th><p class="text-center">tutorial</p></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><p>Each tap will earn 10 pts</p></td>
                </tr>
                <tr>
                    <td><p>100 pts: Unlocks Simplification Key #1</p></td>
                </tr>
                <tr>
                    <td><p>200 pts: Unlocks Simplification Key #2</p></td>
                </tr>
                <tr>
                    <td><p>500 pts: Unlocks Simplification Key #3</p></td>
                </tr>
                <tr>
                    <td><p>1000 pts: Unlocks Simplification Key #4</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>